.navbar-header
  a.navbar-brand(
    ng-href='{{ ($root.session.user && !$root.session.workplace) && "/workplace" || ($root.session.user && $root.session.workplace) && ("/requests/worktable/ongoing/" + ($root.session.activity.request || "consultation")) || "/" }}')

    img.img-responsive(src='/assets/images/logo-navbar.png')

.navbar-right
  ul.nav.navbar-nav
    li(ng-if='$root.session.user && $root.session.workplace')
      a(ng-href='/users/profile')
        | {{ $root.session.user.name }}

    li(ng-if='$root.session.workplace')
      a(ng-href='/workplace')
        | {{ $root.session.workplace.name }}

        i.fa.fa-certificate.margin-left-small(ng-if='workplaceNotifications')

    li(ng-if='$root.session.workplace')
      a(ng-href='/users/counterparts')
        | Profesionales&ensp;
        span.badge {{ presenceUsers }}

    li(ng-if='$root.session.user')
      a.navbar-btn(
        ng-click='signout()',
        rolw='button',
        href='')

        | Salir

    li
      a(ng-href='/help')
        | Ayuda
