strong.margin-right-base
  i.fa.fa-info-circle.margin-right-small
  | Importante:

span.margin-right-large
  i.fa.fa-dot-circle-o.margin-right-small
  | Indica un campo requerido

span
  i.fa.fa-circle-o.margin-right-small
  | Indica un campo opcional

pre.pull-right
  code {{ app.name }}:{{ app.version }}-{{ app.stage }}[{{ app.environment }}]
