mixin header(icon, title, subtitle)
  .panel-heading.padding-bottom-base
    .panel-title
      .panel-title-icon
        i.fa.fa-mr.fa-fw(class='fa-#{ icon }')

      .panel-title-text
        h3 #{ title }
        p #{ subtitle }

    .panel-filter
      button.btn.btn-default(ng-click='filterFormVisible = !filterFormVisible')
        i.fa.fa-filter.padding-right-base
        span(ng-if='!filterFormVisible') Mostrar filtro
        span(ng-if='filterFormVisible') Ocultar filtro

  .panel-filter-form(ng-if='filterFormVisible')
    include _includes/filter-form

  worktable-switcher.block
