.label {
  padding: 1px $padding-small-horizontal;
  vertical-align: text-bottom;
  display: inline-block;
  border-radius: 50px;
  text-shadow: none;
  font-weight: bold;
  font-size: 9px;

  &.label-default {
    background: $default-hardest;
    color: $brand-primary;
  }

  &.label-info {
    background: $default-hardest;
    color: $brand-info;
  }
}
