.scroll-y
  button.btn.btn-block.btn-default(ng-click='back()')
    i.margin-right-small.fa.fa-chevron-left
    | Volver a la solicitud

  .panel.margin-top-base
    .panel-body(ng-if='fetching')
      p
        i.fa.fa-circle-o-notch.fa-spin.margin-right-small
        | Obteniendo información&hellip;

    .panel-body.text-center(ng-if='!fetching && errored')
      p
        i.fa.fa-exclamation-circle
        | &thinsp;
        | No se pudo obtener la información de este adjunto

      p
        button.btn.btn-default(ng-click='fetch()') Reintentar

    .panel-body(ng-if='attachment')
      attachment(
        ng-class='{ "highlight": (attachment.user.id !== $root.session.user.id) && !attachment.seenAt }',
        attachment='attachment')
