p(ng-if='fetching.request')
  i.fa.fa-circle-o-notch.fa-spin.margin-right-small
  | Obteniendo detalles&hellip;

.row(ng-if='!fetching.request')
  .col-sm-4
    dl
      dt Creada por
      dd {{ request.creatorUser.name }}

      dt Establecimiento
      dd {{ request.creatorWorkplace.name }}

      dt Fecha
      //dd Enviada {{ request.createdAt | fromNow }} ({{ request.createdAt | date : 'fullDate' }}, {{ request.createdAt | date : 'HH:mm' }})
      //modificado por coro
      dd Enviada {{ dateCreate[0] }} {{ dateCreate[1] }} {{ dateCreate[2] }} ({{ request.createdAt | date : 'fullDate' }}, {{ request.createdAt | date : 'HH:mm' }})


      dt(ng-if='request.specialistUser') Especialista
      dd(ng-if='request.specialistUser') {{ request.specialistUser.name }}

      dt(ng-if='request.specialistWorkplace') Establecimiento del especialista
      dd(ng-if='request.specialistWorkplace') {{ request.specialistWorkplace.name }}

      dt Especialidad
      dd {{ request.specialty.name }}

  .col-sm-8
    dl
      dt Motivo
      dd #[strong {{ request.motive.name }}:] {{ request.comment }}

      dt Hip贸tesis diagn贸stica
      dd {{ request.hypothesis  }}

      dt(ng-if='request.diagnosticAnswer.description') Diagn贸stico
      dd(ng-if='request.diagnosticAnswer.description') {{ request.diagnosisDescription }}

      dt C贸digos CIE-10
      dd(ng-if='!request.icds.length') No incluye
      dd
        table.text-left
          tr(ng-repeat='icd in request.icds track by icd.id')
            th.padding-right-base {{ icd.code }}
            td {{ icd.description }}

.margin-top-base(ng-if='request.closedAt')
  a.btn.btn-lg.btn-block.btn-default(
    ng-href='/api/requests/reports/of/{{ request.id }}',
    target='_blank')

    i.fa.fa-file.margin-right-small
    | Generar reporte en PDF
