<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sinalitasapinn.asambleas.cl:8172/MsDeploy.axd?site=vcoronado-001-subsite15</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://sinalitasapinn.asambleas.cl:8172/MsDeploy.axd?site=vcoronado-001-subsite15</MSDeployServiceURL>
    <DeployIisAppPath>sinalitasapinn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\vcoronado-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApiSinAlitas.Models.ApplicationDbContext, WebApiSinAlitas" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MSUsuarioLunConectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5024.Smarterasp.net;Initial Catalog=DB_9DAC90_BdSinAlitas;Persist Security Info=True;User ID=DB_9DAC90_BdSinAlitas_admin;Password=antonia2006" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MSUsuarioLunConectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5024.Smarterasp.net;Initial Catalog=DB_9DAC90_BdSinAlitas;Persist Security Info=True;User ID=DB_9DAC90_BdSinAlitas_admin;Password=antonia2006" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="BDColegioSql" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5024.Smarterasp.net;Initial Catalog=DB_9DAC90_BdSinAlitas;Persist Security Info=True;User ID=DB_9DAC90_BdSinAlitas_admin;Password=antonia2006" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BDColegioSql_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5024.Smarterasp.net;Initial Catalog=DB_9DAC90_BdSinAlitas;Persist Security Info=True;User ID=DB_9DAC90_BdSinAlitas_admin;Password=antonia2006" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BDColegioSql-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MSUsuarioLunConectionString-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>