.bg-hover.padding-small.clearfix.text-small.text-uppercase
    i.fa.fa-comment.margin-right-small
    | {{ answer.user.name }}
    span.pull-right {{ answer.createdAt | calendar }}

.form-control
  div.text-pre-wrap(ng-if='!answer.user.specialty')
    | {{ answer.comment }}

  dl(ng-if='answer.user.specialty')
    dt(ng-if='answer.requestAnswerDiagnosis.evaluation')
      | Evaluación clínica

    dd.text-pre-wrap(ng-if='answer.requestAnswerDiagnosis.evaluation')
      | {{ answer.requestAnswerDiagnosis.evaluation }}

    dt Diagnóstico
    dd.text-pre-wrap
      strong(ng-if='answer.requestAnswerDiagnosis.confirmed')
        | Confirma la hipótesis diagnósitca del médico:&thinsp;
      span {{ answer.requestAnswerDiagnosis.description }}

    dt(ng-if='answer.requestAnswerDiagnosis.icds.length')
      | Códigos CIE-10

    dd(ng-if='answer.requestAnswerDiagnosis.icds.length')
      table
        tr(ng-repeat='icd in answer.requestAnswerDiagnosis.icds track by icd.id')
          th.padding-right-base {{ icd.code }}
          td {{ icd.description }}

    dt(ng-if='answer.requestAnswerDiagnosis.therapeuticPlan')
      | Plan terapéutico

    dd.text-pre-wrap(ng-if='answer.requestAnswerDiagnosis.therapeuticPlan')
      | {{ answer.requestAnswerDiagnosis.therapeuticPlan }}

    dt(ng-if='answer.requestAnswerDiagnosis.requestAnswerDiagnosisExams.length')
      | Exámenes

    dd.block(
      ng-repeat='exam in answer.requestAnswerDiagnosis.requestAnswerDiagnosisExams track by exam.id',
      ng-if='answer.requestAnswerDiagnosis.requestAnswerDiagnosisExams.length')

      span.form-group
        span.input-group
          span.input-group-addon
            i.fa.fa-fw.fa-stethoscope

          span.form-control
            span.block {{ exam.name }}

            small(ng-if='exam.samePlace')
              i.fa.fa-h-square.padding-right-small
              | En el mismo establecimiento

            small(ng-if='!exam.samePlace')
              i.fa.fa-ambulance.padding-right-small
              | En otro establecimiento

    dt(ng-if='answer.requestAnswerDiagnosis.checkupDate')
      | Control

    dd(ng-if='answer.requestAnswerDiagnosis.checkupDate')
      p {{ answer.requestAnswerDiagnosis.checkupComment }}

      ul.padding-top-large
        li
          strong Modo:
          | &thinsp;
          | {{ answer.requestAnswerDiagnosis.checkupMode.name }}

        li
          strong Programado para:
          | &thinsp;
          | {{ answer.requestAnswerDiagnosis.checkupDate | calendar }} ({{ answer.requestAnswerDiagnosis.checkupDate | fromNow }})

        li(ng-if='answer.requestAnswerDiagnosis.checkupExamsRequired')
          | Debe venir con los exámenes solicitados

        li(ng-if='!answer.requestAnswerDiagnosis.checkupExamsRequired')
          | Puede venir sin los exámenes

        li(ng-if='answer.requestAnswerDiagnosis.checkupSameSpecialist')
          | Debe ser con el mismo especialista

        li(ng-if='!answer.requestAnswerDiagnosis.checkupSameSpecialist')
          | Debe ser con otro especialista
