extends layout

block body
  .container
    .scroll-y.btn-block
      .padding-top-base.padding-bottom-base
        .panel
          .panel-heading.form-group
            .panel-title
              .panel-title-icon
                i.fa.fa-fw.fa-exclamation-circle

              .panel-title-text
                h3 Recurso no encontrado
                h4 Error 404

          .panel-body
            .panel
              .panel-body
                span El recurso que solicitaste ya no está disponible o ha sido movido permanentemente.
