<!--
  Generated template for the AsociarComunasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="mui--bg-color-blue-400 fg-light">

    <ion-navbar>
      <ion-buttons style="float: right;">
        <button (click)="cancel()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>{{titulo}}</ion-title>
    </ion-navbar>
    <ion-toolbar class="mui--bg-color-blue-100">
      <ion-title>
        <h6 style="font-size: 1.5rem;">{{subtitulo}}</h6>
      </ion-title>
      <ion-row>
          <ion-col col-6>
            <button ion-button class="mui--bg-color-green-500" style="width: 100%;" (click)="guardar()" small> Guardar</button>
          </ion-col>
        </ion-row>
    </ion-toolbar>
  
  </ion-header>


<ion-content padding>
    <ion-fab top right edge>
      <button ion-fab mini class="mui--bg-color-blue-900">
        {{seleccionadas}}
      </button>
    </ion-fab>
    <ion-item>
      <ion-label floating *ngIf="encontrados > 0">{{encontrados}} coincidencias</ion-label>
      <ion-label floating *ngIf="encontrados == 0">Ingrese texto a buscar</ion-label>
      <!-- <ion-input type="text" #nombre></ion-input>-->
      <ion-input type="text" [(ngModel)]="nombreBuscar"></ion-input>
      <button ion-button outline item-end icon-start (click)="getComunasNombres()" small style="font-size: 1rem;">
        <ion-icon name="search"></ion-icon>
        Buscar 

      </button>
      <button ion-button outline item-end icon-start (click)="limpiarComunas()" small style="font-size: 1rem;">
        <ion-icon name="remove-circle"></ion-icon>
        Limpiar
      </button>
    </ion-item>
    <!--
    <ion-row>
      <input type="text" #nombre>
      <button (click)="getComunasNombres(nombre.value)">Cargar</button>
      <button (click)="limpiarComunas()">Limpiar</button>
    </ion-row>
  -->
    <ion-item *ngFor="let com of comunasGeneral">
      <!-- <div *ngIf="com.visible">-->
        <ion-label>{{com.Nombre}}</ion-label>
        <ion-checkbox color="dark" [(ngModel)]="com.check" (click)="selectMember(com)"></ion-checkbox>
      <!--</div>-->

      </ion-item>
    <!--
    <ion-item *ngFor="let com of comunasArr">
      <ion-label>{{com.Nombre}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="com.check" (click)="selectMember(com)"></ion-checkbox>
    </ion-item>
    <ion-item *ngFor="let comP of comunasProfesorArr">
      <ion-label>{{comP.Nombre}}</ion-label>
      <ion-checkbox color="dark" [(ngModel)]="comP.check" (click)="selectMember(comP)"></ion-checkbox>
    </ion-item>
    -->
</ion-content>
