.panel
  .panel-heading
    .panel-title
      .panel-title-icon
        i.fa.fa-fw.fa-mail-reply

      .panel-title-text
        h3 Devolver solicitud
        p Permitir que otro especialista tome esta solicitud

  .panel-body
    p Presiona este botón para devolver la solicitud a la mesa de trabajo. Esto significa que otro especialista la puede tomar.

  .panel-footer
    button.btn.btn-default.btn-block.btn-lg(
      ng-click='return()')

      i.fa.margin-right-small.fa-mail-reply
      | Devolver

.panel
  .panel-heading
    .panel-title
      .panel-title-icon
        i.fa.fa-fw.fa-lock

      .panel-title-text
        h3 Cerrar solicitud
        p Cerrar y archivar esta solicitud

  .panel-body
    p Presiona este botón si deseas cerrar esta solicitud. Esto significa que la solicitud ya no podrá ser modificada ni tomada por otro especialista.

  .panel-footer
    button.btn.btn-default.btn-block.btn-lg(
      ng-click='close()')

      i.fa.margin-right-small.fa-lock
      | Cerrar
