.scroll-y
  .panel
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-archive

        .panel-title-text
          h3 Crear solicitud
          p Crear una nueva solicitud

    .panel-body
      a.btn.btn-lg.btn-block.btn-default(
        ng-repeat='requestType in requestTypes track by requestType.id',
        ng-href='/requests/create/{{ requestType.slug }}')

        i.fa.fa-3x.margin-bottom-large(ng-class='(requestType.slug === "diagnosis") && "fa-file-text" || "fa-clipboard"')

        div {{ requestType.name }}
