.container
  .flexgrid.flexgrid-1of2.flexgrid-center.flexgrid-justify-center
    .flexcell
      .page-header
        h1 Ayuda

      .panel.panel-default
        .panel-heading
          h3.panel-title
            i.fa.fa-sr.fa-life-ring
            |La ayuda est치 en camino&hellip;

        .panel-body
          p No desespere. Esta secci칩n estar치 disponible dentro de los pr칩ximos 3 meses.

        .panel-footer
          button.btn.btn-link(ng-click='back()') Volver
