.scroll-y
  .panel
    include _mixins/header

    +header('send', 'Solicitudes enviadas', 'Solicitudes creadas sin especialista asignado')

    .padding-horizontal-base.margin-top-base
      .btn-group.btn-group-justified
        include _mixins/orderer

        +orderer('createdAt', 'Fecha enviada')
        +orderer('priorityId', 'Prioridad')
        +orderer('motiveId', 'Motivo')
        +orderer('specialtyId', 'Especialidad')

    .panel-body.text-center(ng-if='!fetching && !requests.length && !(params.keywords || params.dateMinEnabled || params.dateMaxEnabled)')
      h4 Aún no has creado una solicitud en este lugar de trabajo
      p Para #[a(ng-href='/requests/consultations/create') crear una solicitud] debes seleccionar la opcion #[strong Crear] del menú lateral.

    .panel-body.text-center(ng-if='!fetching && !requests.length && (params.keywords || params.dateMinEnabled || params.dateMaxEnabled)')
      h4 No hay solicitudes enviadas que coincidan con el filtro
      p Prueba con otro filtro o limpia el formulario para mostrar todas las solicitudes enviadas.

    .panel-body.text-center(ng-if='fetching')
      h4
        i.fa.fa-mr.fa-circle-o-notch.fa-spin.margin-right-small
        | Buscando solicitudes

    .panel-body(ng-if='!fetching && requests.length')
      a.btn-default.btn-block(
        ng-repeat='request in requests | orderBy : order',
        ng-class='{ "margin-bottom-base": !$last }',
        ng-href='/requests/{{ request.id }}')

        worktable-request.block(request='request')
