.scroll-y(unpaginate, on-top='onTop', on-bottom='onBottom')
  .panel
    include _mixins/header

    +header('clock-o', 'Solicitudes en espera', 'Solicitudes disponibles sin especialista')

    .padding-horizontal-base.margin-top-base
      .btn-group.btn-group-justified
        include _mixins/orderer

        +orderer('createdAt', 'Tiempo en espera')
        +orderer('priorityId', 'Prioridad')
        +orderer('motiveId', 'Motivo')

    .panel-body.text-center(ng-if='!fetching && !requests.length && !(params.contains || params.dateMinEnabled || params.dateMaxEnabled)')
      h4 No hay solicitudes en espera en este lugar de trabajo
      p Aquí aparecerán las solicitudes disponibles para tu especialidad.

    .panel-body.text-center(ng-if='!fetching && !requests.length && (params.contains || params.dateMinEnabled || params.dateMaxEnabled)')
      h4 No hay solicitudes en espera que coincidan con el filtro
      p Prueba con otro filtro o limpia el formulario para mostrar todas las solicitudes en espera.

    .panel-body.text-center(ng-if='fetching')
      h4
        i.fa.fa-mr.fa-circle-o-notch.fa-spin.margin-right-small
        | Buscando solicitudes

    .panel-body(ng-if='!fetching && requests.length')
      a.btn-default.btn-block(
        ng-class='{ "margin-bottom-base": !$last }',
        ng-repeat='request in requests | orderBy : orderBy',
        ng-href='/requests/take/{{ request.id }}')

        worktable-request.block(request='request')
