extends layout

block body
  .container
    .scroll-y
      .padding-top-base.padding-bottom-base
        .panel
          .panel-heading
            .panel-title
              .panel-title-icon
                i.fa.fa-fw.fa-exclamation-circle

              .panel-title-text
                h3 El servidor no ha podido completar la solicitud
                p Error
                  if error && error.status
                    |   #{ error.status }
                  else
                    |   500

          .panel-body
            .panel.margin-bottom-base
              .panel-body
                pre.text-pre-wrap
                  if error && error.message
                    code  #{ error.message }
                  else
                    code Sin información

            .panel
              .panel-body
                if error && error.stack
                  pre
                    code #{ error.stack }
