.panel
  .panel-heading
    .panel-title
      .panel-title-icon
        i.fa.fa-mr.fa-fw.fa-clipboard

      .panel-title-text
        h3 solicitud de interconsulta
        p detalles e información adicional

  .panel-body
    include-template(ng-src='/assets/templates/requests/view/details.html')

.panel
  .panel-heading
    .panel-title
      .panel-title-icon
        i.fa.fa-mr.fa-fw.fa-user

      .panel-title-text
        h3 paciente
        p detalles e información adicional

  .panel-body
    include-template(ng-src='/assets/templates/requests/view/patient.html')
