div
  .panel
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-clipboard

        .panel-title-text
          h3 Tomar solicitud de {{ request.requestType.name || "&hellip;" }}
          p Hacerte responsable de esta solicitud

    .panel-body(ng-if='fetching')
      i.margin-right-small.fa.fa-circle-o-notch.fa-spin
      | Un momento por favor&hellip;

    .padding-horizontal-base(ng-if='!fetching')
      .alert.alert-info.margin-none.padding-large
        i.fa.fa-exclamation-circle.margin-right-small

        span #[strong IMPORTANTE:] Al tomar esta solicitud de #[strong {{ request.requestType.name }}] te haces responsable de esta como médico especialista en #[strong {{ request.specialty.name }}] y te comprometes a colaborar con su resolución.

    .panel-body(ng-if='!fetching')
      .row
        .col-sm-6
          a.btn.btn-default.btn-block.btn-lg(ng-href='/requests/worktable/waiting/{{ request.requestType.slug }}')
            i.fa.fa-chevron-left.margin-right-small
            | Cancelar y volver

        .col-sm-6
          button.btn.btn-default.btn-block.btn-lg(
            ng-disabled='taking',
            ng-click='proceed()')

            span(ng-if='!taking')
              | Aceptar y continuar
              i.fa.fa-chevron-right.margin-left-small

            span(ng-if='taking')
              i.margin-right-small.fa.fa-circle-o-notch.fa-spin
              | Asignando solicitud&hellip;
