.scroll-y
  a.btn.btn-default.btn-lg.btn-block(ng-href='{{ request.closedAt && ("/requests/worktable/closed/" + request.requestType.slug) || ("/requests/worktable/sent/" + request.requestType.slug) }}')
    i.fa.fa-chevron-left
    | &thinsp;
    | Volver a las solicitudes {{ request.closedAt && "cerradas" || "enviadas" }}

  .panel.margin-bottom-base.margin-top-base
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-clipboard

        .panel-title-text
          h3 solicitud de interconsulta
          p detalles e informaci贸n adicional

    .panel-body
      include-template(ng-src='/assets/templates/requests/view/details.html')

  .panel.margin-bottom-base(ng-if='!fetching.request')
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-user

        .panel-title-text
          h3 paciente
          p detalles e informaci贸n adicional

    .panel-body
      include-template(ng-src='/assets/templates/requests/view/patient.html')

  .panel.margin-bottom-base(ng-if='!fetching.request')
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-user

        .panel-title-text
          h3 Adjuntos
          p detalles e informaci贸n adicional

    include-template(ng-src='/assets/templates/requests/view/attachments.html')

  .panel.margin-bottom-base(ng-if='!fetching.request')
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-comments

        .panel-title-text
          h3 respuestas
          p detalles e informaci贸n adicional

    include-template(ng-src='/assets/templates/requests/view/answers.html')
