//
// Input groups
// --------------------------------------------------
// Base styles
// -------------------------
.input-group {
  @include display(flex);
  @include align-items(stretch);

  &:hover {
    > .input-group-addon {
      background-color: $input-bg-focus;
    }
  }

  // Undo padding and float of grid classes
  &[class*="col-"] {
    padding-left : 0;
    padding-right: 0;
  }

  .form-control {
    z-index      : 2;
    width        : 100%;
    margin-bottom: 0;
  }
}

// Sizing options
//
// Remix the default form control sizing classes into new ones for easier
// manipulation@mixin
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  @extend .input-lg;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  @extend .input-sm;
}

.input-group .form-control {
  @include flex(1 1 auto);
}

// Addon and addon wrapper for buttons
.input-group-addon,
.input-group-btn {
  @include flex(1 0 auto);
  @include display(flex);
  white-space: nowrap;
  min-width  : 1%;

  .btn {
    @include flex(0 0 auto);
    white-space: nowrap;
  }
}

// Text input groups
// -------------------------
.input-group-addon {
  @include transition(background-color 432ms ease);
  padding         : $padding-base-vertical $padding-base-horizontal;
  font-size       : $font-size-base;
  font-weight     : normal;
  color           : $input-color;
  text-align      : center;
  background-color: $input-group-addon-bg;

  // Sizing
  &.input-sm {
    padding  : $padding-small-vertical $padding-small-horizontal;
    font-size: $font-size-base;
  }

  &.input-lg {
    padding  : $padding-large-vertical $padding-large-horizontal;
    font-size: $font-size-base;
  }

  i {
    @include align-self(flex-start);
    line-height: $line-height-base;
  }

  // Nuke default margins from checkboxes and radios to vertically center within.
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 0;
  }
}

// Button input groups
// -------------------------
.input-group-btn {
  font-size  : $font-size-base;
  white-space: nowrap;

  > .btn {
    &:active,
    &:focus,
    &:hover {
      z-index: 2;
    }
  }
}
