/**
 * Statusbar styles.
 */

.statusbar {
  background-color: $default-softer;
  padding         : $padding-base;
  width           : 100%;
  @include flex(0 0 auto);
  @include box-shadow($panel-shadow);

  pre {
    opacity: 0.75;
    margin : 0;
  }
}
