.tag-list {
  margin: -$padding-base-xs;
  font-size: $font-size-small;

  .tag {
    display: inline-block;
    margin: $padding-base-xs;
    padding: $padding-small-vertical $padding-small-horizontal;
    background: $default-softer;
  }
}
