.scroll-y
  p
    btn.btn.btn-block.btn-default.btn-lg(ng-click='back()')
      i.fa.fa-chevron-left
      | &ensp;Volver

  .panel
    .panel-heading
      .panel-title
        .panel-title-icon
          i.fa.fa-mr.fa-fw.fa-user-md

        .panel-title-text
          h3 Profesionales en línea
          p Profesionales disponibles para este lugar de trabajo

    .panel-body
      p(ng-if='!fetched && fetching')
        i.fa.fa-circle-o-notch.fa-spin
        | &emsp;
        | Buscando profesionales&hellip;

      p(ng-if='fetched && !users.length')
        i.fa.fa-info-circle
        | &emsp;
        | No hay profesionales disponibles en este momento.

      .row(ng-if='users.length')
        .col-sm-6.col-md-4(ng-repeat='user in users track by user.id')
          .panel-body.bg-hover
            strong {{ user.name }}
            br
            span(ng-if='user.specialty') {{ user.specialty.name }}
            span(ng-if='!user.specialty') Médico general
