<ion-header class="mui--bg-color-blue-500 fg-light">
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-icon name="arrow-back" start (click)="close()" style="font-size: 1.5em;"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <ion-title start>
            Información del Pack
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini class="mui--bg-color-blue-900"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <a href="{{urlFacebook}}" ion-fab><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="{{urlFun}}" ion-fab><ion-icon name="at"></ion-icon></a>
      <a href="{{urlInstagram}}" ion-fab><ion-icon name="logo-instagram"></ion-icon></a>
    </ion-fab-list>
  </ion-fab>
  <!-- elementos superiores -->
  <ion-grid style="padding-bottom: 0;">
    <ion-row>
      <ion-item style="text-align: center;" no-lines>
        <img src="{{fotoProfesor}}" style="max-height: 95px;">
      </ion-item>
      <ion-item style="border-bottom-style: none;" no-lines>
        <h2 class="fg-darkgrey" style="text-align: center; font-size: 1.6rem;">{{nombreProfesor}}</h2>
        <h6 style="text-align: center;"><ion-icon name="mail" color="primary"></ion-icon><a href="mailto:{{emailProfesor}}?Subject=Consulta" target="_top">&nbsp;{{emailProfesor}}</a></h6>
        <h6 style="text-align: center;"><ion-icon name="logo-whatsapp"  color="primary"></ion-icon><a href="whatsapp://send?text=Hola&phone=+56{{fonoProfesor}}&abid=+56{{fonoProfesor}}">&nbsp;+56{{fonoProfesor}}</a></h6>
        <!--
        <h6 style="text-align: center;"><ion-icon name="logo-whatsapp"></ion-icon><a href="whatsapp://send?text=Hola&phone=+569{{fonoProfesor}}&abid=+569{{fonoProfesor}}">&nbsp;+569{{fonoProfesor}}</a></h6>
        -->
        <!-- <p text-wrap>{{infoProfesor}}</p>-->
      </ion-item>

    </ion-row>
  </ion-grid>
  <!-- lista de elementos -->
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="information-circle" class="icono-lista mui--text-dark-secondary"  style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <h6>Código Pack</h6>
      <p class="mui--text-accent-secondary">{{idElemento}}</p>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="person" class="icono-lista mui--text-dark-secondary"  style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <h6>Cliente</h6>
      <p text-wrap>{{nombreCliente}}</p>
    </ion-item>


    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="clock" class="icono-lista mui--text-dark-secondary"  style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <h6>Fecha Creación</h6>
      <p>{{fechaPack}}</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-start>
        <ion-icon name="calendar" class="icono-lista mui--text-dark-secondary"  style="font-size: 2em;"></ion-icon>
      </ion-avatar>

      <p>Clases Agendadas: {{clasesAgendadas}}</p>
    </ion-item>
    <button ion-item (click)="goToFichaAlumno()">
      <ion-avatar item-start>
        <ion-icon name="people" class="icono-lista mui--text-dark-secondary"  style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <h6>Cantidad Niños: {{cantidadAlumnos}}</h6>
      <p style="font-style: italic; font-size: 0.6em;">Pinche aquí para ver los alumnos.</p>

    </button>


    <ion-item *ngIf="tieneAlerta">
      <ion-avatar item-start>
        <ion-icon name="information-circle" class="icono-lista"  style="font-size: 2em;" color="danger"></ion-icon>
      </ion-avatar>

      <p color="danger" text-wrap>{{mensajeAlerta}}
        <button end ion-button color="danger" (click)="goToCrearAlumno()" smaller style="float: right;">
          <ion-icon name="eye"></ion-icon>
          &nbsp;Ir
        </button>
      </p>
    </ion-item>



  </ion-list>
  <ion-grid>
    <ion-row>

      <ion-col col-12>
        <button ion-button class="mui--bg-color-blue-500" style="width: 100%;" (click)="goToDetails('1')"  *ngIf="puedeVerAgenda" > Ver Agenda</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
