page-detail-pack {
  .back-button.show-back-button {
    display: none;
  }
  .item-md {
    padding-left: 6px;
    padding-right: 0;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-md {
    margin: -1px 0 6px;
  }
  .label-md {
    margin: 6px 8px 6px 0;
  }
  .item-md p {
    margin: 0 0 2px;
    overflow: inherit;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
  }
  [padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0rem;
    font-size: 1.2rem;
  }

}
