.bubble(ng-click='errored && send()')
  .image

  .body
    p {{ message.body }}

    .status
      small.padding-right-small(ng-if='!errored && message.age') {{ message.age }}
      small.padding-right-small(ng-if='sending') Enviando

      small(ng-if='sending')
        i.fa-spin.fa-circle-o-notch

      small(ng-if='!sending && !errored && message.own')
        i.fa.fa-check

      small(
        ng-class='{ "text-muted": !message.receivedAt }',
        ng-if='!sending && message.own')

        i.fa.fa-check

      small(ng-if='errored')
        i.fa.fa-exclamation-triangle.padding-right-small
        | No se pudo enviar el mensaje. Presionalo para intentar de nuevo.
