.aspect.aspect-square
  .aspect-item
    svg(width='100%', viewBox='0 0 302 302')
      path(fill='white',
        d='M 47.66817,227.44086 29.292381,238.04897 C 56.504898,275.25586 100.47167,299.47001 150,299.47001 c 49.52833,0 93.4951,-24.21415 120.70762,-61.42104 L 252.33183,227.44086 C 228.93435,258.34154 191.8459,278.27035 150,278.27035 c -41.8459,0 -78.93435,-19.92881 -102.33183,-50.82949 z')

      path(fill='{{ priority.id > 1 && "white" || transparent }}',
        d='M 134.10026,1.3725909 C 59.124508,9.3351824 0.52998882,72.943484 0.52998882,149.99793 c 0,21.53794 4.58535878,42.02095 12.81916818,60.53703 l 18.410991,-10.63088 c -6.460712,-15.33187 -10.030501,-32.1935 -10.030501,-49.90615 0,-65.582177 48.937386,-119.488179 112.370613,-127.293183 l 0,-21.3321561 z')

      path(fill='{{ priority.id > 2 && "white" || transparent }}',
        d='m 165.89974,1.3725909 0,21.3321561 c 63.43323,7.805004 112.37061,61.711006 112.37061,127.293183 0,17.71265 -3.56978,34.57428 -10.0305,49.90615 l 18.41099,10.63088 c 8.23381,-18.51608 12.81917,-38.99909 12.81917,-60.53703 0,-77.054446 -58.59452,-140.6627476 -133.57027,-148.6253391 z')

  .flex-display.flex-column.flex-center-center.aspect-item(style='background: none; border: 0')
    .date-count {{ date[1] }}
    .date-units {{ date[2] }}

p.priority-name {{ priority.name }}
