page-detail-agenda {
  .card-md h2 {
    margin: 2px 0;
    font-size: 1.6rem;
    font-weight: normal;
    color: darkgrey;
  }
  .card-md p {
    margin: 0 0 2px;
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.5;
    color: #666666;
  }
  .icono-texto-primary {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    background: #488aff;
    color: white;
    font-weight: bold;
  }
  .icono-texto-primary-pequeno {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    display: table-cell;
    vertical-align: super;
    text-align: center;
    font-size: large;
    background: #488aff;
    color: white;
    font-weight: bold;
  }
 .icono-texto-dark {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    background: #222;
    color: white;
    font-weight: bold;
  }
  .icono-texto-secondary {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    background: #32db64;
    color: white;
    font-weight: bold;
  }
  .icono-texto-secondary-pequeno {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    display: table-cell;
    vertical-align: super;
    text-align: center;
    font-size: large;
    background: #32db64;
    color: white;
    font-weight: bold;
  }
  .icono-texto-danger {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    background: #f53d3d;
    color: white;
    font-weight: bold;
  }
  .icono-texto-danger-pequeno {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    display: table-cell;
    vertical-align: super;
    text-align: center;
    font-size: large;
    background: #f53d3d;
    color: white;
    font-weight: bold;
  }
  .fondo-hora{
    background-image: url(http://apisinalitas.cpas.cl/img/alarm-clock.png);
    background-size: 95% 95%;
    background-repeat: no-repeat;
    opacity: 0.5;
}
  .toolbar-ios ion-title {
    left: 0;
    top: 0;
    padding: 0 0px 1px;
    position: absolute;
    /* width: 100%; */
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
  }
  .toolbar-title-ios {
    /* text-align: center; */
    font-size: 1.7rem;
    font-weight: 600;
    pointer-events: auto;
  }
}
