<ion-header class="mui--bg-color-blue-500 fg-light">
  <ion-navbar>
    <ion-grid>
      <ion-row>
        <ion-col col-1>
          <ion-icon name="arrow-back" start (click)="close()" style="font-size: 1.5em;"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <ion-title start>
            Nuevo
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>



<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab mini class="mui--bg-color-blue-900"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list>
      <a href="{{urlFacebook}}" ion-fab><ion-icon name="logo-facebook"></ion-icon></a>
      <a href="{{urlFun}}" ion-fab><ion-icon name="at"></ion-icon></a>
      <a href="{{urlInstagram}}" ion-fab><ion-icon name="logo-instagram"></ion-icon></a>
    </ion-fab-list>
  </ion-fab>
  <!-- comenzamos a contruir los controles -->
  <ion-card *ngIf="tieneAlumnos" style="padding: 0;margin: 0;width: 100%;">

    <ion-card-header>
      Información
    </ion-card-header>

    <ion-card-content>
      <!-- Add card content here! -->
      <label class="alert alert-primary" role="alert">
        Usted ya cuenta con alumnos registrados en el Sistema, si desea utilizarlos seleccionelo de la lista y presione usar.
      </label>
      <ion-row style="width: 100%;">
        <ion-grid>
          <ion-row>
            <ion-col col-9>
              <ion-select [(ngModel)]="item" style="width: 100%; font-size: 1.2em;">
                <ion-option *ngFor="let alumn of alumnosArr" [value]="alumn.Id"  style="width: 100%;">{{alumn.NombreCompleto}}</ion-option>
              </ion-select>
            </ion-col>
            <ion-col col-3>
              <button ion-button color="success" smaller (click)="usar(item)" style="padding-right: 3px; width: 100%;"> Usar</button>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-row>
    </ion-card-content>

  </ion-card>

  <div style="padding-top: 10px;">
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        Alumno
      </ion-segment-button>
      <ion-segment-button value="Medicos">
        Médicos
      </ion-segment-button>
      <ion-segment-button value="Otros">
        Otros
      </ion-segment-button>
      <ion-segment-button value="Lista">
        Lista <ion-badge item-end>{{cantidadAlumnosActual}}</ion-badge>
      </ion-segment-button>
    </ion-segment>
  </div>
  <div [ngSwitch]="pet">
    <ion-row  *ngSwitchCase="'puppies'">
      <!-- nombre del alumno -->
      <ion-item>
        <ion-label floating>Nombre Completo</ion-label>
        <ion-input type="text" [(ngModel)]="nombreCompleto"></ion-input>
      </ion-item>

      <!-- edad -->
      <ion-item col-6>
        <ion-label floating>Edad</ion-label>
        <ion-input type="number" [(ngModel)]="edad"></ion-input>
      </ion-item>

      <ion-item col-6>
        <ion-label floating>Sexo</ion-label>
        <ion-select [(ngModel)]="sexo">
          <ion-option value="Hombre">Hombre</ion-option>
          <ion-option value="Mujer">Mujer</ion-option>
        </ion-select>
      </ion-item>

    </ion-row>
    <ion-row *ngSwitchCase="'Medicos'">
      <ion-item col-9>
        <ion-label floating>¿Problemas Cardiacos, cuales?</ion-label>
        <ion-input type="text" [(ngModel)]="cualesProblemasCardiacos"></ion-input>
      </ion-item>
      <ion-item col-3 no-border>
        <ion-toggle [(ngModel)]="tieneProblemasCardiacos"></ion-toggle>
      </ion-item>
      <ion-item col-9>
        <ion-label floating>¿Problemas Motores, cuales?</ion-label>
        <ion-input type="text" [(ngModel)]="cualesProblemasMotores"></ion-input>
      </ion-item>
      <ion-item col-3 no-border>
        <ion-toggle [(ngModel)]="tieneProblemasMotores"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>¿Tiene asma?</ion-label>
        <ion-toggle [(ngModel)]="tieneAsma"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label floating>Otra Enfermedad</ion-label>
        <ion-input type="text" [(ngModel)]="otraEnfermedad"></ion-input>
      </ion-item>

    </ion-row>
    <ion-row *ngSwitchCase="'Otros'">
      <ion-item>
        <ion-label floating>Acudir a</ion-label>
        <ion-input type="text" [(ngModel)]="dondeAcudir"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Teléfono Urgencia</ion-label>
        <ion-input type="number" [(ngModel)]="numeroEmergencia"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Observaciones</ion-label>
        <ion-input type="text" [(ngModel)]="observacion"></ion-input>
      </ion-item>
    </ion-row>

    <ion-row *ngSwitchCase="'Lista'">
      <ion-list  *ngFor="let user of fichasArr">
        <ion-item >
          <text-avatar [text]="user.NombreCompleto" [color]="user.color" item-left></text-avatar>
          <h2>{{ user.NombreCompleto || upper}}</h2>
          <p>Edad: {{user.Edad}} años</p>
          <p>Sexo: {{user.Sexo}}</p>
        </ion-item>
    </ion-list>
    </ion-row>

  </div>


  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button class="mui--bg-color-blue-100" (click)="limpiar()"> Limpiar</button>
      </ion-col>
      <ion-col>
        <button ion-button class="mui--bg-color-blue-500" style="width: 100%;" (click)="guardar()"> Agregar</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
