page-crea-alumno {
  .back-button.show-back-button {
    display: none;
  }
  .card-header-md {
    font-size: 1.6rem;
    color: #222;
    padding: 8PX;
  }
  .card-content-md {
    padding: 5px 13px;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  .toolbar-ios ion-title {
    left: 0;
    top: 0;
    padding: 0 0px 1px;
    position: absolute;
    /* width: 100%; */
    height: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    pointer-events: none;
  }
  .toolbar-title-ios {
    /* text-align: center; */
    font-size: 1.7rem;
    font-weight: 600;
    pointer-events: auto;
  }
}
