.row
  dl.col-sm-6
    dt Nombre
    dd {{ request.patient.firstname }} {{ request.patient.lastname }}

    dt Edad
    dd {{ request.patient.birth | ageServer }} años
    dd {{ request.patient.birth | formatUTC:"LL" | capitalize }}

  dl.col-sm-6(ng-if='request.patient.info && request.patient.info.Alergias')
    dt Alergias
    dd(ng-repeat='alergy in request.patient.info.Alergias')
      | {{ alergy }}

  dl.col-sm-6(ng-if='request.patient.info && request.patient.info.FactoresDeRiesgo')
    dt Factores de riesgo
    dd(ng-repeat='risk in request.patient.info.FactoresDeRiesgo')
      | {{ risk }}

  dl.col-sm-6(ng-if='!request.patient.info')
    dt Información adicional
    dd No se registra información adicional para este paciente
