.bg-hover.padding-small.clearfix.text-small.text-uppercase
    i.fa.fa-comment.margin-right-small
    | {{ attachment.user.name }}
    span.pull-right {{ attachment.createdAt | calendar }}

.form-control
  p.padding-vertical-base #[strong {{ attachment.name }}:] {{ attachment.description }}

  a.input-group(
    ng-href='/api/files/{{ file.id }}/{{ file.filename }}',
    ng-repeat='file in attachment.files track by file.id',
    ng-class='{ "padding-bottom-base": !$last }',
    target='_blank')

    .input-group-addon
      i.fa.fa-fw(class='fa-file-{{ file.mimetype | mimeicon }}')

    .form-control
      | {{ file.filename }} ({{ file.filesize | bytes }})

    .input-group-addon
      i.fa.fa-fw.fa-download
