.scroll-y
  .panel
    .btn-group.btn-group-justified.padding-top-base.padding-horizontal-base
      a.btn.btn-default(ng-href='#attachments')
        i.margin-right-small.fa.fa-bars
        | Adjuntos

      a.btn.btn-default(ng-href='#attachments-add')
        i.margin-right-small.fa.fa-plus-circle
        | Agregar

    .panel-body(ng-if='!fetching && !attachment')
      p
        i.fa.fa-info-circle.margin-right-small
        | Al parecer este adjunto no existe

    .panel-body(ng-if='fetching')
      p
        i.fa.fa-circle-o-notch.fa-spin.margin-right-small
        | Obteniendo información&hellip;

    .panel-body.text-center(ng-if='errored')
      p
        i.fa.fa-exclamation-circle.margin-right-small
        | No se pudo obtener la información de este adjunto

      p
        button.btn.btn-default(ng-click='fetch()') Reintentar

    .panel-body(ng-if='attachment')
      attachment(
        ng-class='{ "highlight": !attachment.own && !attachment.seenAt }',
        attachment='attachment')
